<!-- Start About Us -->
<div class="about" id="about">
    <div class="container">
        <div class="about-image">
            <img src="~/images/about.png" alt="">
        </div>
        <div class="about-txt">
            <h4>About Us</h4>
            <h1>Welcome to <i class="fas fa-utensils"></i> Restaurant</h1>
            <p class="paragraph">
                It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem passages and
                more recently with desktop publishing software like including.
            </p>
            <br>
            <br>
            <p class="paragraph">
                A good restaurant is like a vacation, it transports you, and it becomes a lot more
                than just about
                the food. All great deeds and all great thoughts.
            </p>
            <div class="about-txt-bottom">
                <div class="txt">
                    <h1>15</h1>
                    <p>
                        Years of
                        <br>EXPERIENCE
                    </p>
                </div>
                <div class="txt">
                    <h1>50</h1>
                    <p>
                        Popular
                        <br>MASTER CHEFS
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
