<!-- Start Blog -->
<section class="blog" id="blog">
    <h1>What about our <span>Blog.</span></h1>
    <div class="container">
        <div class="blog-card">
            <div class="blog-card-img">
                <img src="~/images/blog-1.jpg" alt="">
            </div>
            <div class="blog-card-content">
                <h1>Online</h1>
                <h3>Excellent Bloger Reviews</h3>
                <div class="content-icons">
                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                    <p><i class="far fa-comments"></i>10</p>
                </div>
                <p class="blog-p"> A good restaurant is like a vacation.</p>
                <i class="fas fa-arrow-right right"></i>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="blog-card">
            <div class="blog-card-img">
                <img src="~/images/blog-2.jpg" alt="">
            </div>
            <div class="blog-card-content">
                <h1>Online</h1>
                <h3>Excellent Bloger Reviews</h3>
                <div class="content-icons">
                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                    <p><i class="far fa-comments"></i>10</p>
                </div>
                <p class="blog-p"> A good restaurant is like a vacation.</p>
                <i class="fas fa-arrow-right right"></i>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="blog-card">
            <div class="blog-card-img">
                <img src="~/images/blog-3.jpg" alt="">
            </div>
            <div class="blog-card-content">
                <h1>Online</h1>
                <h3>Excellent Bloger Reviews</h3>
                <div class="content-icons">
                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                    <p><i class="far fa-comments"></i>10</p>
                </div>
                <p class="blog-p"> A good restaurant is like a vacation.</p>
                <i class="fas fa-arrow-right right"></i>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="blog-card">
            <div class="blog-card-img">
                <img src="~/images/blog-4.jpg" alt="">
            </div>
            <div class="blog-card-content">
                <h1>Online</h1>
                <h3>Excellent Bloger Reviews</h3>
                <div class="content-icons">
                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                    <p><i class="far fa-comments"></i>10</p>
                </div>
                <p class="blog-p"> A good restaurant is like a vacation.</p>
                <i class="fas fa-arrow-right right"></i>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="blog-card">
            <div class="blog-card-img">
                <img src="~/images/blog-5.jpg" alt="">
            </div>
            <div class="blog-card-content">
                <h1>Online</h1>
                <h3>Excellent Bloger Reviews</h3>
                <div class="content-icons">
                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                    <p><i class="far fa-comments"></i>10</p>
                </div>
                <p class="blog-p"> A good restaurant is like a vacation.</p>
                <i class="fas fa-arrow-right right"></i>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="blog-card">
            <div class="blog-card-img">
                <img src="~/images/blog-6.jpg" alt="">
            </div>
            <div class="blog-card-content">
                <h1>Online</h1>
                <h3>Excellent Bloger Reviews</h3>
                <div class="content-icons">
                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                    <p><i class="far fa-comments"></i>10</p>
                </div>
                <p class="blog-p"> A good restaurant is like a vacation.</p>
                <i class="fas fa-arrow-right right"></i>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
</section>

<!-- Start Latest Events -->
<div class="events" id="events">
    <h1>Our Restaurant <span>Stats</span>.</h1>
    <div class="container">
        <div class="event-card">
            <ion-icon name="restaurant"></ion-icon>
            <h3 class="num" data-val="400">000</h3>
            <p>Meals Delivered</p>
        </div>
        <div class="event-card">
            <i class="fa-regular fa-thumbs-up"></i>
            <h3 class="num" data-val="340">000</h3>
            <p>Happy Customers</p>
        </div>
        <div class="event-card">
            <ion-icon name="pricetags"></ion-icon>
            <h3 class="num" data-val="225">000</h3>
            <p>Menu Items</p>
        </div>
        <div class="event-card">
            <ion-icon name="star"></ion-icon>
            <h3 class="num" data-val="280">000</h3>
            <p>Five Stars</p>
        </div>
    </div>
</div>

<!-- Start Our Team -->
<div class="team" id="team">
    <h1>Meet our <span>Experts</span>.</h1>
    <div class="container">
        <div class="team-card">
            <div class="chef-img">
                <img src="~/images/chef-1.png">
            </div>
            <div class="caption">
                <h4>Pizza Specialist</h4>
                <h1>Thomas Walim</h1>
                <div class="social">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-linkedin"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                </div>
                <img src="~/images/sine.png" class="sine">
            </div>
        </div>
        <div class="team-card">
            <div class="chef-img">
                <img src="~/images/chef-2.png">
            </div>
            <div class="caption">
                <h4>Chef Master</h4>
                <h1>James Jhonson</h1>
                <div class="social">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-linkedin"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                </div>
                <img src="~/images/sine.png" class="sine">
            </div>
        </div>
        <div class="team-card">
            <div class="chef-img">
                <img src="~/images/chef-3.png">
            </div>
            <div class="caption">
                <h4>Burger Specialist</h4>
                <h1>Room Minal</h1>
                <div class="social">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-linkedin"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                </div>
                <img src="~/images/sine.png" class="sine">
            </div>
        </div>
    </div>
</div>

<!-- Start Order -->
<div class="order-now" id="order-now">
    <h1>Free and <span>Fast</span>.</h1>
    <div class="container">
        <div class="right-side"></div>
        <div class="form">
            <h2>Write your order.</h2>
            <form action="#">
                <label for="name">Name :-</label>
                <input type="text" placeholder="Enter Your name" class="input" required name="name">
                <label for="phone">Phone-number :-</label>
                <input type="tel" placeholder="Enter Your Phone number" class="input" required name="phone">
                <label for="order">Your Order :-</label>
                <input type="text" placeholder="Enter Your Order here" class="input" required name="order">
                <label for="quantity">How Much :-</label>
                <input type="text" placeholder="Enter Quantity here" class="input" required name="quantity">
                <label for="extra">Additional Food :-</label>
                <input type="text" placeholder="Extra Food you want" class="input" required name="extra">
                <label for="date">Data and Time :-</label>
                <input type="datetime-local" placeholder="Enter Data here" class="input" required name="date">
                <input type="submit" value="Order Now">
            </form>
        </div>
    </div>
</div>
