<!-- Start Contact Us -->
<section class="contact" id="contact">
    <h1>Writing to us any <span>Message</span>.</h1>
    <div class="container">
        <div class="contact-form">
            <form action="#">
                <input type="text" placeholder="Your Name" class="input" required>
                <input type="email" placeholder="Your Email" class="input" required>
                <input type="text" placeholder="Subject" class="input" required>
                <textarea placeholder="Message" class="input"></textarea>
                <input type="submit" value="Send Message">
            </form>
        </div>
        <div class="contact-info">
            <h2>Address :- </h2>
            <p>
                16, Lankaway
                <br> Florida, USA 99544
            </p>
            <br>
            <br>
            <h2>Phone :- </h2>
            <a href="tel: +123 456 7890">+123 456 7890</a>
            <br>
            <br>
            <h2>Email :- </h2>
            <a href="mailto:Bergy@gmail.com">Bergy@gmail.com</a>
            <br>
            <br>
            <h2>Contact Us with Socials</h2>
            <div class="social">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
</section>
