<!-- Hero Section -->
<section class="home" id="home">
    <div class="container">
        <div class="text">
            <h1>It's Not just <span>Food</span>, It's an Experience.</h1>
            <p>a taste that will give pleasure to your tongue and stomach all day long.</p>
            <div class="btns">
                <a href="#" class="order">Explore Menu</a>
                <a class="play" href="#"><ion-icon name="play"></ion-icon></a>
            </div>
            <div class="info">
                <div class="photos">
                    <img src="~/images/1.jpg" alt="">
                    <img src="~/images/2.jpg" alt="">
                    <img src="~/images/3.jpg" alt="">
                </div>
                <div class="info-txt">
                    <h3>Our Happy Customers</h3>
                    <div class="rate">
                        <ion-icon name="star"></ion-icon>
                        <h4>4.8</h4>
                        <span>(12.4k Reviews)</span>
                    </div>
                </div>
                <a href="#services" class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <div class="search-box">
            <ion-icon name="close-outline" class="close-search"></ion-icon>
            <form action="#">
                <input type="text" placeholder="Search here....">
                <button type="button"><ion-icon name="search-outline"></ion-icon></button>
            </form>
        </div>
        <div class="image">
            <img src="~/images/home-img.png" alt="">
            <div class="image-rate">
                <span>5.0 Rating</span>
                <div class="rate">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>
            </div>
            <div class="new-info">
                <div class="person">
                    <img class="person-img" src="~/images/person.jpg" alt="">
                    <div class="person-info">
                        <h5>Italian Pizza</h5>
                        <span>Today at 12:00 PM</span>
                    </div>
                </div>
                <p>You can help beat Hunger!</p>
                <div class="person-rate">
                    <ion-icon name="star"></ion-icon>
                    <span>4.5</span>
                    <p>(456k)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="#" class="up">
    <ion-icon name="chevron-up"></ion-icon>
</a>
