<!-- Start Services -->
<section class="services" id="services">
    <h1>Just <span>Relax</span> at Home <br> We Will Serve You<span>.</span></h1>
    <div class="container">
        <div class="card">
            <div class="card-img">
                <img src="~/images/fresh.png" alt="">
                <h2>Fresh Food</h2>
            </div>
            <div class="card-txt">
                <div class="rate">
                    <ion-icon name="star"></ion-icon>
                    <h4>4.9</h4>
                    <span>(14.4k Reviews)</span>
                </div>
                <p>We offer Fresh and Delicious food for you.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/images/delivery.png" alt="">
                <h2>Free Delivery</h2>
            </div>
            <div class="card-txt">
                <div class="rate">
                    <ion-icon name="star"></ion-icon>
                    <h4>4.8</h4>
                    <span>(12.7k Reviews)</span>
                </div>
                <p>We provide you with Free Delivery Service.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/images/24h.png" alt="">
                <h2>24h Services</h2>
            </div>
            <div class="card-txt">
                <div class="rate">
                    <ion-icon name="star"></ion-icon>
                    <h4>4.7</h4>
                    <span>(12.3k Reviews)</span>
                </div>
                <p>We are 24hours available for your Orders.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="~/images/payment.png" alt="">
                <h2>Secure Payment</h2>
            </div>
            <div class="card-txt">
                <div class="rate">
                    <ion-icon name="star"></ion-icon>
                    <h4>4.8</h4>
                    <span>(12.4k Reviews)</span>
                </div>
                <p>We provide you all ways to Secure Payment.</p>
            </div>
        </div>
    </div>
    <div class="new-services">
        <div class="box">
            <div class="box-img">
                <img src="~/images/servimg-1.png" alt="">
            </div>
            <div class="box-txt">
                <h1>Special Menu</h1>
                <p>We Provide One Of The Best Food Service.</p>
                <a href="#"><ion-icon name="arrow-forward-circle-outline"></ion-icon>Order now</a>
            </div>
        </div>
        <div class="box">
            <div class="box-txt">
                <h1>Super Delicious</h1>
                <p>We Provide One Of The Best Food Service.</p>
                <a href="#"><ion-icon name="arrow-forward-circle-outline"></ion-icon>Order now</a>
            </div>
            <div class="box-img">
                <img src="~/images/servimg-2.png" alt="">
            </div>
        </div>
    </div>
</section>
